.main-body {
  display: flex;
  flex-direction: column;
  background-color: #82acd6;
  min-height: 80rem;
}

.body {
  display: flex;
  flex-direction: column; 
  font-size: larger;
  background-color: #82acd6;
  font-size: 24px;
}

input {
    padding: 10px;
    margin: 24px;
}

form {
    display: block;
    align-items: center;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 1.5em;
}

.submit {
  padding: 8px;
  background-color: white;
  border: 1px solid;
  color: black;
  border-radius: 5px;
}

